*{
max-width: 100%; 
box-sizing: border-box;
}

body { 
  background-color: white;
  font-family:'Rubik', sans-serif;
  margin: 0 auto;
  padding: 20px;
  overflow-wrap: break-word;
}
header, footer {
  background-color:rgb(91,91, 91);
  color: black;
  margin: 0;
  padding: 10px;
}

h1 {
  text-decoration: underline;
  text-align: center; 
  font-style: oblique; 
  font-style: bold; 
  }
/*
header {
  height:200
}*/

header ul {
  color: black; 
  float: center;
  border: 10 px solid rgb(91, 91, 91);
  /*margin: 5 px 0; 
  padding: 2 px; */
  overflow: hidden; 
  background-color:rgb(91, 91, 91);
  /*position: fixed; */
  top: 0; 
  width: 100%;
  list-style-type: none; 
}
header li {
  list-style: none;
  color:black;
  display: inline-block;
  padding: 2 px;
  text-align: center;
  margin: 0 auto; 
  margin-right: 40px;
}

header a {
  margin: 0;
  padding: 2 px;
  display: block;
  color: darkblue;
  text-decoration: none;
  text-align: center; 
  padding: 14px 16 px; 
  font-size: 20px;
}

header a:hover {
  background-color: whitesmoke; 
}

.active {
  text-decoration: underline;
}

form {
  width: 70%; 
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color:white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  color: black;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%
}
